.biz-contact-info {
  margin-top: 2em ;
  padding-bottom: .8em;
  border-bottom: 2px solid $brown-light;
  background-color: $brown-medium;
  color: $cream;
  font-weight: 400;
  text-align: center;
  font-size: 1.22em;
  letter-spacing: .07em;
  line-height: 1.8em;
  .block {
    font-family: $fontstack-block;
    font-weight: 900;
    font-size: 1.5em;
    line-height: 2em;
  }
  h3 {
    @include visuallyhidden();
  }
}
