.classic-flavors {
  margin: 0 32px;
  h2 {
    @include visuallyhidden();
  }
  div.classic-flavor-block {
      margin-bottom: 136px;
      width: 256px;
    div.flavor-description {
      width: 226px;
      margin: 0 15px;
      text-align: center;
    }
    h3.block {
      margin-bottom: 0;
      padding: 5px 0;
      border-top: 1.5px solid $brown-dark;
      border-bottom: 1.5px solid $brown-dark;
      font-family: $fontstack-block;
      font-weight: 900;
      color: $red;
      font-size: 1.85em;
    }
    p {
      display: none;
      margin-top: 0;
      padding-bottom: 16px;
      font-size: 1em;
      border-bottom: 1.5px solid $brown-light;
    }
  }

  //Rotation animation code came from: http://www.cssrotate.com/
  img {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
  }
  div.classic-flavor-block:hover {
    img {
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
    }
    p {
      display: block;
    }
    h3.block {
      border-top: 1.5px solid $brown-light;
      border-bottom: none;
      color: $brown-light;
    }
  }
}
