.contact-form {
  width: 768px;
  td {
    padding: 0 2px 16px 19px;
    & input {
      margin-bottom: 6px;
    }
  }

  input,textarea {
    width: 356px;
    height: 44px;
    border: 1.5px solid $yellowish-dark;
    padding-top: 16px;
  }
  textarea {
    height: 120px;
    &:hover {
      background: $yellowish;
    }
  }
  button {
    display: block;
    background-color: $red;
    height: 72px;
    width: 192px;
    font-family: $fontstack-block;
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    letter-spacing: .125em;
    border: none;
    margin: 10px auto;
    &:hover {
      background-color: $brown-light;
      color: $brown-dark;
    }
  }
}
