.contact-us {
  @include clearfix();
  .script {
    @include heading-script();
    margin-top: 8.125rem;
    width: 26%;
  }
  .block {
    @include heading-block();
    margin-bottom: 0.5em;
  }
  .descriptive-text {
    @include descriptive-text();
    max-width: 40em;
  }

  .contact-buttons {
    ul {
      list-style-type: none;
      margin: 0 0 0 -1.2em;
    }
    li {
      float: left;
      padding: 1em 2em;
      &:first-child {
        padding-left: 1em;
      }
      text-indent: -999em;
      & a {
        display: block;
        height: 4em;
      }
      &#inquiries a {
        width: 22.5625em;
        background: url(../images/inquiries-button.png) bottom center no-repeat;
        &:hover {
          background-position: top;
        }
      }
      &#wholesale a {
        width: 22.5em;
        background: url(../images/wholesale-button.png) top center no-repeat;
        &:hover {
          background-position: bottom;
        }
      }
      &#catering a {
        width: 22.5625em;
        background: url(../images/catering-button.png) top center no-repeat;
        &:hover {
          background-position: bottom;
        }
      }
    }
  }
  #contact-form {
    @include clearfix();
    width: 48.75em;
    margin: 0 auto;
    td {
      padding: 0 .125em 1.125em 1.1875em;
      & input {
        margin-bottom: 0.375em;
      }
    }

    input,textarea {
      width: 22.5em;
      height: 2.75em;
      border: 1px solid $yellowish-dark;
      padding-top: 1em;
    }
    textarea {
      height: 7.5em;
      &:hover {
        background: $yellowish;
      }
    }
    button {
      display: block;
      background-color: $red;
      height: 4.5rem;
      width: 12rem;
      font-family: $fontstack-block;
      color: $white;
      text-align: center;
      font-weight: 900;
      font-size: 1.8em;
      letter-spacing: .1rem;
      border: none;
      margin: .625rem auto 3.75rem auto;
      &:hover {
        background-color: $brown-light;
        color: $brown-dark;
      }
    }
    p {
      max-width: 41em;
      margin: .625rem auto 2.25rem auto;
      text-align: center;
      letter-spacing: 0.05em;
      line-height: 1.9em;
      font-style: italic;
      font-size: 1.15em;
    }

  }
}
