#contact-form {
  @include clearfix();
  width: 48.75em;
  margin: 0 auto;
  td {
    padding: 0 .125em 1.125em 1.1875em;
    & input {
      margin-bottom: 0.375em;
    }
  }

  input,textarea {
    width: 22.5em;
    height: 2.75em;
    border: 1px solid $yellowish-dark;
    padding-top: 1em;
  }
  textarea {
    height: 7.5em;
    &:hover {
      background: $yellowish;
    }
  }
  button {
    display: block;
    background-color: $red;
    height: 4.5rem;
    width: 12rem;
    font-family: $fontstack-block;
    color: $white;
    text-align: center;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: .1rem;
    border: none;
    margin: .625rem auto 3.75rem auto;
    &:hover {
      background-color: $brown-light;
      color: $brown-dark;
    }
  }
  p {
    max-width: 41em;
    margin: .625rem auto 2.25rem auto;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 1.9em;
    font-style: italic;
    font-size: 1.15em;
  }

}
