.copyright-info {
  font-size: .7em;
  letter-spacing: .0125em;
  font-weight: 200;
  text-align: center;
  background-color: $brown-medium;
  color: $cream;
  margin-top: -20px;
  padding: 5px;
  padding-left: 70px;
  h3 {
    @include visuallyhidden();
  }
}
