.featured-flavors {
  @include clearfix();
  margin-top: 11em;
    .block {
    @include heading-block();
    margin-bottom: 1.8rem;
  }
  .script {
    @include heading-script();
    width: 28%;
  }
  .descriptive-text {
    max-width: 40.5em;
    @include descriptive-text();
  }

  .featured-flavor-block {
    position: relative;
    width: 16em;
    height: 16em;
    float: left;
    img {
      z-index: -10;
    }
    //The code for vertically centering the h3's came from:
    //http://css-tricks.com/examples/hrs/
    h3 {
      display: none;
      font-family: $fontstack-block;
      font-size: 2em;
      color: $cream;
      width: 11.375rem;
      margin: 0;
      padding: 0.22rem 0;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-top: 2px solid $cream;
      border-bottom: 2px solid $cream;
    }
    &:hover {
      cursor: pointer;
      background: rgba(75,27,27,.85);
      h3 {
        display: block;
      }
    }
  }
}
