.info-block {
  margin: 0 auto;
  font-size: 1.05em;
  font-weight: 400;
  text-align: center;
  color: $brown-dark;
  .block {
    font-family: $fontstack-block;
    font-weight: 900;
    font-size: 4.2rem;
    margin-top: 0;
    margin-bottom: 32px;
    line-height: 1.75em;
  }
//The code for the decorative line thingies came from:  //http://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
  .script {
    font-family: $fontstack-script;
    font-size: 3.5rem;
    color: $brown-light;
    text-align: center;
    border-bottom: 2px solid $brown-light;
    line-height: 0.1em;
    margin: 30px auto 0;
     span {
      background:#fff;
      padding:0 0.25em;
    }
  }
  &.featured-flavors {
    max-width: 675px;
    margin-top: 175px;
  }
  &.featured-flavors .script {
    width: 54%;
  }
  &.contact-us {
    max-width: 675px;
  }
  &.contact-us .script {
    margin-top: 130px;
    width: 26%;
  }
  &.our-process {
    img {
      width: 640px;
      margin: 0;
      float: left;
    }
    .our-process-text {
      max-width: 511px;
      margin: 75px 62px;
      float: right;
    }
    .script {
     width: 78%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
  .descriptive-text {
    letter-spacing: 0.08em;
    line-height: 2em;
    margin-bottom: 40px;
    a {
      text-decoration: none;
      font-size: 1.15em;
      font-family: $fontstack-text-bold;
      letter-spacing: 0;
      color: $red;
    }
  }
}
