.page-footer-col-2 {
  padding: 2.5em 3em 0 3.0625em;
  background: $brown-medium;
  width: 26.625em;
  .biz-contact-info {
    margin-top: 2em ;
    padding-bottom: .8em;
    border-bottom: 2px solid $brown-light;
    background-color: $brown-medium;
    color: $cream;
    font-weight: 400;
    text-align: center;
    font-size: 1.22em;
    letter-spacing: .07em;
    line-height: 1.8em;
    .block {
      font-family: $fontstack-block;
      font-weight: 900;
      font-size: 1.5em;
      line-height: 2em;
    }
    h3 {
      @include visuallyhidden();
    }
  }
  .social-icons {
    background-color: $brown-medium;
    h3 {
      @include visuallyhidden();
    }
    ul {
      list-style-type: none;
      margin-top: .375em;
      padding-left: 0;
      text-align: center;
      span {
        @include visuallyhidden();
      }
      li {
        padding: .625rem;
        margin: 0.5625rem;
        display: inline-block;
        text-align: center;
        font-size: 1.5625rem;
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid;
        border-radius: 1.875rem;
        -moz-border-radius: 1.875rem;
        -webkit-border-radius: 1.875rem;
        color: $brown-medium;
        background-color: $cream;
      }
    }
  }
  .copyright-info {
    font-size: .7em;
    letter-spacing: .0125em;
    font-weight: 200;
    text-align: center;
    background-color: $brown-medium;
    color: $cream;
    margin-top: -1.25rem;
    padding: .25rem;
    h3 {
      @include visuallyhidden();
    }
  }
}
