.page-footer {
  position: relative;
  margin-top: 3.125em;
  border-top: 0.4375em solid $brown-light;
  height: 27.5em;
  background: $brown-medium;
  .chalkboard img {
    width: 26.625em;
  }
  #logo {
    width: 12em;
    position: absolute;
    left: 33.9375em;
    top: -3em;
  }
  section {
    float: left;
  }
  h2 {
    @include visuallyhidden();
  }
}
