.page-footer {
  position: relative;
  margin-top: 50px;
  border-top: 7px solid $brown-light;
  height: 440px;
  background: $brown-medium;
  .chalkboard img {
    width: 426px;
  }
  #logo {
    width: 192px;
    position: absolute;
    left: 545px;
    top: -48px;
  }
  section {
    float: left;
  }
  h2 {
    @include visuallyhidden();
  }
}
