.page-header {
  position: relative;
  border-bottom: 2px solid #ddd;
  padding: 1em 0;
  .logo {
    display: block;
    width: 5.25em;
    margin: 0 auto;
  }
  .hamburger {
    position: absolute;
    top: 1.8em;
    right: 2em;
  }

}
