.page-footer-col-1 {
  padding: 1.5em 1.5em 0 3.2em;
  width: 26.75em;
  background-color: $brown-medium;
  color: $cream;
  font-weight: 200;
  h3 {
    padding-top: 1em;
    font-family: $fontstack-block;
    font-size: 1.625em;
    font-weight: 900;
    letter-spacing: .05em;
    margin-bottom: 0;
  }
  p {
    font-size: 1.4em;
    margin: 0 1.2em 0 0;
    padding-bottom: .6em;
    border-bottom: 2px solid $brown-light;
    letter-spacing: .12em;
  }
  table {
    margin-top: 1.1em;
  }
  td {
    padding: .3em 2.3em .5em 0;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: .9em;
  }
}
