//variables.scss

//Typeface
$fontstack-script: 'Cookie', cursive;
$fontstack-block: 'Alegreya SC', serif;
$fontstack-text: 'Oxygen', sans-serif;
$fontstack-text-bold: 'Montserrat', sans-serif;

//Colors
$brown-light: #BD8D46;
$brown-medium: #95541F;
$brown-dark: #4B1B1B;
$brown-dark-hover: rgba(75, 26, 26, .8);
$yellowish: #F6E497;
$yellowish-dark: #CCA873;
$red: #B82025;
$reddish-brown: #A93733;
$black: #333;
$white: #fff;
$cream: #FBFAE2;
