//variables.scss

//Typeface
$fontstack-script: 'Cookie', cursive;

//Colors
$brown-light: #BD8D46;
$brown-medium: #95541F;
$brown-dark: #4B1B1B;
$yellowish: #F6E497;
$red: #B82025;
$reddish-brown: #A93733;
$black: #333;
$white: #fff;
